config COMPAT_WIRELESS
        tristate "COMPAT WIRELESS support"
	depends on WLAN
        help
	  Compat wireless support for Eink devices

config COMPAT_WIRELESS_MODULES
        tristate "COMPAT WIRELESS module support"
	depends on MMC
        help
	  Compat wireless module support for Eink devices

source compat-wireless/compat/Kconfig
source compat-wireless/drivers/net/wireless/ath/Kconfig
